body {
  color: $txt-1;
}

img {
  max-width: 100%;
}

.section {
  height: 100vh;
  padding: 60px 0;
    h2 {
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 20px;
    }
    .btn {
      @include btn($txt-1);
    }
}

.txt-1 {
  h2 {@include titulo(42, 1);}
  p {@include tipo-1(21, 1);}
}

.txt-2 {
  h2 {@include titulo(42, 2);}
  p {@include tipo-1(21, 2);}
}

.bg-1 {
  background-color: $bg-1;
}


