// variaveis do grid
$cols: 12;
$gutter: 20px;
$desktop-width: 960px;
$tablet-width: 768px;
$mobile-width: 480px;

// Box-sizing
*, *:after, *:before {
  box-sizing: border-box;
}

// Mixin de media-querie
@mixin responsive($device) {
  @if $device == desktop {
    @media screen and (min-width: #{$desktop-width}) {
      @content;
    }
  }
  @else if $device == tablet {
    @media screen and (min-width: #{$tablet-width}) and (max-width: #{$desktop-width}) {
      @content;
    }
  }
  @else if $device == mobile {
    @media screen and (max-width: #{$tablet-width}) {
      @content;
    }
  }
}

// Função do grid

@function grid($col, $offset: false) {
  $width: ($col / $cols) * 100 + '%';
  $result: calc(#{$width} - #{$gutter});
  @if $offset == offset {
    $gutter: $gutter / 2;
    $result: calc(#{$width} + #{$gutter});
  }
  @return $result;
}

// Gera as classes de grid

@for $i from 1 through $cols {
  .grid-#{$i} {
    width: grid($i);
  }
}

// Mixin estrutura do grid

@mixin grid-structure {
  float: left; 
  min-height: 1px;
  margin-left: $gutter / 2;
  margin-right: $gutter / 2;
  @include responsive(mobile) {
    width: 100%;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
  }
}

[class^='grid-'] {
  @include grid-structure();
}

// Gera as classes de offset

@for $i from 1 through $cols {
  .offset-#{$i} {
    margin-left: grid($i, offset);
    @extend %offset;
  }
}

@include responsive(mobile) {
  %offset {
    margin-left: 0px;
  }
}

//Mixin de clearfix

@mixin clearfix {
  &:after, &before {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin container {
  max-width: $desktop-width;
  margin: 0 auto;
  position: relative;
  @include responsive(tablet) {
    max-width: $tablet-width;
  }
  @include responsive(mobile) {
    max-width: $mobile-width;
    padding-left: 20px;
    padding-right: 20px;
  }
  @include clearfix();
}

.container {
  @include container();
}

@mixin row {
  position: relative;
  margin-left: -$gutter/2;
  margin-right: -$gutter/2;
  @include responsive(mobile) {
    margin-left: 0px;
    margin-right: 0px;
  }
  @include clearfix();
}

.row {
  @include row;
}