.top-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  img {
    border: 2px solid black;
    border-radius: 5px;
    @include box-shadow(0 2px 2px rgba(0,0,0,.25));
    height: 52px;
    padding: 4px;
    width: 52px;
    @include responsive(desktop) {
      box-shadow: none;
      height: 90px;
      right: 0;
      padding: 5px;
      position: absolute;
      top: 10px;
      width: 90px;
    }
  }
  span {
  @include titulo(30, 2);
  @include responsive(desktop) {
    @include titulo(42, 2);
  }
  }
}

.header-menu {
  max-height: 0px;
  overflow: hidden;
  text-align: center;
  transition: max-height .5s ease-in-out;
  width: 100%;
  z-index: 1;
  @include responsive(desktop) {
    max-height: 500px;
    margin-bottom: 0;
    margin-top: 20px;
    text-align: left;
  }
  ul {
    margin-bottom: 20px;
  }
  li {
    @include responsive(desktop) {
      display: inline-block;
      padding: 0 45px;
      &:nth-of-type(1) {
        padding-left: 0;
      }
    }
  }
  li a {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: 1s ease;
    @include tipo-1(18, 1);
    @include responsive(desktop) {
      color: $txt-2;
      padding: 0;
    }
  }
  span {
    margin-top: 20px;
    @include titulo(30, 1);
  }
  .header-menu-logo {
    margin-top: 36px;
    width: 150px;
  }
  &.active {
    max-height: 500px;
    li a {
      color: $txt-2;
    }
  }
}

