#home {
  height: auto;
  padding-top: 0;
  // @include responsive(big) {
  //   height: calc(100vh - 123px);
  // }
}

.content-home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 30px;
}

.introducao-icones {
  text-align: center;
  img {
    height: 36px;
    margin: 0 7px;
  }
}

.cta-produtos {
  background: url('../../imagens/background-lanches-baguetes.jpg') center no-repeat;
  background-size: cover;
}

.cta-eventos {
  background: url('../../imagens/background-lanches-eventos.jpg') center no-repeat;
  background-size: cover;
}