.wrapper {
  background-color: $bg-2;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,.4);
  &:before {
    content: '';
    background-color: $bg-2;
    @include box-shadow(0 2px 2px rgba(0,0,0,.25));
    display: block;
    height: 1px;
    position: relative;
    width: 100vw;
  }
}

.slide {
  display: flex;
}

.slide:hover {
  will-change: transform;
}

.slide li {
  box-shadow: 0 2px 4px rgba(0,0,0,.4);
  flex-shrink: 0;
  margin: 0 20px -4px 0;
  max-width: 800px;
  @include responsive(tablet) {
    max-width: 768px;
  }
  @include responsive(desktop) {
    max-width: 500px;
  }
  @include responsive(big) {
    max-width: 600px;
  }
  opacity: .8;
  overflow: hidden;
  transform: scale(.8);
  transition: .4s;
  width: 100vw;
  &.left {
    //  MOBILE
    h3 {
      @include titulo-slider(30, 1, 'e');    
    }
    p {
      @include texto-slider(16, 1);
    }
    @include responsive(tablet) {
      h3 {
        @include titulo-slider(42, 1, 'e');    
      }
      p {
        @include texto-slider(18, 1);
      }
    }
  }
  &.right {
    h3 {
      @include titulo-slider(30, 1, 'd');    
    }
    p {
      @include texto-slider(16, 1);
    }
    @include responsive(tablet) {
      h3 {
        @include titulo-slider(42, 1, 'd');    
      }
      p {
        @include texto-slider(18, 1);
      }
    }
  }
  &.center {
    h3 {
      @include titulo-slider(30, 1, 'c');    
    }
    p {
      @include texto-slider(16, 1);
    }
    @include responsive(tablet) {
      h3 {
        @include titulo-slider(42, 1, 'c');    
      }
      p {
        @include texto-slider(18, 1);
      }
    }
  }
}

.slide li.ativo {
  opacity: 1;
  transform: scale(1);
}

.custom-controls {
  background: $bg-2;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.custom-controls li {
  border-radius: 50%;
  box-shadow: 0 2px 2px rgba(0,0,0,.5);
  height: 40px;
  margin: 2px;
  opacity: .8;
  overflow: hidden;
  transform: scale(.8);
  transition: .3s;
  width: 40px;
}

.custom-controls li.ativo {
  box-shadow: 0 2px 2px rgba(255,0,0,.5);
  opacity: 1;
  transform: scale(1);
}