// Cores
$bg-1: #ff0101;
$bg-2: #eef;
$bg-3: #fff;
$txt-1: #fff;
$txt-2: #292521;
$txt-3: #ff0101;

// Fontes
$fonte-1: 'PT Mono', monospace;
$fonte-2: 'Aref Ruqaa', serif;

@function em($pixel, $context: 16) {
  @return $pixel / $context + em;
}

@mixin tipo-1($size, $cor) {
  font-family: $fonte-1;
  @if $size == 16 {
    font-size: 16px;
    line-height: 20px;
  }
  @else if $size == 18 {
    font-size: 18px;
    line-height: 21px;
  }
  @else if $size == 21 {
    font-size: 21px;
    line-height: 28px;
  }
  @else if $size == 24 {
    font-size: 24px;
    line-height: 30px;
  }
  @if $cor == 1 {
    color: $txt-1;
  }
  @else if $cor == 2 {
    color: $txt-2;
  }
  @else if $cor == 3 {
    color: $txt-3;
  }
}

@mixin tipo-2($size, $cor) {
  font-family: fonte-2;
  @if $size == 16 {
    font-size: 16px;
  }
  @if $size == 18 {
    font-size: 18px;
  }
  @else if $size == 24 {
    font-size: 24px;
  }
  @else if $size == 30 {
    font-size: 30px;
  }
  @else if $size == 36 {
    font-size: 36px;
  }
  @else if $size == 42 {
    font-size: 42px;
  }
  @if $cor == 1 {
    color: $txt-1;
  }
  @else if $cor == 2 {
    color: $txt-2;
  }
  @else if $cor == 3 {
    color: $txt-3;
  }
}

@mixin titulo($tamanho, $cor) {
  display: block;
  font-style: italic;
  font-weight: 700;
  @include tipo-2($tamanho, $cor);
}

@mixin titulo-slider($tamanho, $cor, $lado) {
  @include titulo($tamanho, $cor);
  text-shadow: 1px 2px black;
  position: absolute;
  top: 40px;
  @if $lado == 'e' {
    left: 20px;
  }
  @else if $lado == 'd'{
    right: 20px;
  }
  @else if $lado == 'c' {
    left: -50%;
    right: -50%;
    text-align: center;
  }
}

@mixin texto-slider($tamanho, $cor) {
  @include tipo-1($tamanho, $cor);
  text-shadow: 1px 2px black;
  position: absolute;
  bottom: 20px;
  right: 10px;
}

@mixin btn($cor) {
  border: 1.25px solid $cor;
  border-radius: 5px;
  height: 30px;
  display: block;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 15px;
  width: fit-content;
  @include tipo-1(18, $cor);
  line-height: 30px;
  @include box-shadow(1px 1px 0 -2px $txt-2, 1px 1px 0 0 $txt-2);
}

@mixin box-shadow($shadow...) {
  box-shadow: $shadow;
}